.buttonClass{
    background-color: red;
    border-width: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.buttonClass:hover{
    background-color: black;
}

.buttonClass:active{
    background-color: aqua;
}